.contenedor_general {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    display: flex;
}

.contenedor_filtros {
    display: inline;
    height: fit-content;
    width: fit-content;
    margin: 10px;
    max-width: 280px;
}
.contenedor_productos {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    width: fit-content;
    min-width: 1000px;
    max-width: 1000px;
    top: 0px;
}

.producto {
    position: relative ;
    display: inline-block;
    margin: 10px
}

.paginado {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    align-items: center;
    justify-content: center;
}

@media (max-width: 400px) {
    
    .contenedor_general {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    }