*{
    scroll-behavior: smooth
}
.paginado{
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
}

.numbers{
    text-decoration: none;
    list-style: none;
    color: #ECEDEC;
    background-color: #242525;
    border-radius: 50px;
    justify-content: center;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.numbers:hover {
    background-color: #9a9a9a;
}

.number{
    display: block;
    width: 30px;
    height: 30px;
    align-content: center;
    text-align: center;
    justify-content: center;
    gap:10px;
}

.pagesNumber{
    flex: auto;
}